@import "tailwindcss";

body {
  @apply font-sans antialiased bg-[#121212] text-[#E0E0E0];
}

.bg-dark-gray {
  background-color: #1e1e1e;
}

.bg-card {
  background-color: #2d2d2d;
}

.text-light-gray {
  color: #a0a0a0;
}

.bg-highlight {
  background-color: #6366f1;
}

.bg-active-link {
  background-color: rgba(99, 102, 241, 0.2);
}
